<div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="column is-8 is-offset-2">
          <h2>MA20 Sankey Daten Übertragung</h2>
        </div>
        <div class="columns is-multiline">
          <div class="column is-8 is-offset-2">
            <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
              <p>
                Ziehen Sie die Excel-Daten Datei mit der Maus hierhin oder
                <label class="upload-button">
                  <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                  durchsuchen sie Ihre Festplatte
                </label>
                für die Datenübertragung.
              </p>
            </div>
          </div>

          <div class="column is-8 is-offset-2" [hidden]="!uploadFinished">
          <div class="notification is-primary">
              <button class="delete" (click)="uploadFinished=false"></button>
              <p>Die Daten Datei wurde vollständig übertragen und verarbeitet.</p>
              <p><a href="{{finalLink}}" target="_blank">↪ weiter</a></p>
            </div>
          </div>

          <div class="column is-8 is-offset-2" [hidden]="!error">
              <div class="notification is-warning">
                  <button class="delete" (click)="error=false"></button>
                  <p>Bei der Datenübertragung ist ein Fehler aufgetreten:</p>
                  <p><i>{{errorMessage}}</i></p>
                </div>
              </div>

          <div class="column is-8 is-offset-2">
            <div class="upload-items">
              <div class="upload-item" *ngFor="let f of files; let i = index;">
                <span class="filename">
                  <span>{{ f.name }} ({{ f.id }}) - {{ f.progress?.data?.percentage }}%</span>
                  <span>uploading with {{ f.progress?.data?.speedHuman }}</span>
                  <span>ETA {{ f.progress?.data?.etaHuman }}</span>
                </span>
                <div class="progress">
                  <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>